{{> head}}

{{> navbar}}
<div class="row">
    <div class="col-8">
        <H1>Tony Stark</H1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime libero error doloremque repellat explicabo excepturi omnis beatae ipsam neque sint sit recusandae quo odit quas eligendi, ad a totam sequi. </p>

    </div>
    <div class="col-4">
        <img src="img/Tony-Stark.jpg" alt="Tony-Stark" width="100%" class="img-thumbnail">
    </div>
</div>
{{> footer}}